<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=<%= naverMapClientId %>&submodules=geocoder"></script>
    <link rel="stylesheet" href="/css/hospital/hospital.css">
</head>

<body>
    <div class="container mt-4">
        <div class="content-container">
            <div class="left">
                <div class="input-group">
                    <form class="d-flex" role="search" id="searchForm">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                            name="search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <div id="map" class="map"></div>
                <input type="hidden" id="hospitalsData" value='<%= JSON.stringify(hospitals) %>' />
            </div>
            <div class="right">
                <div class="head">
                    <h1 class="mb-4">병원 리뷰 목록</h1>
                    <div>
                        <a href="/hospital/register" class="btn mb-3">리뷰 등록</a>
                    </div>
                </div>
                <div class="comment-list">
                    <% if (reviews && reviews.length> 0) { %>
                        <% reviews.forEach(review=> { %>
                            <div class="comment">
                                <div class="hospital">
                                    <h4>
                                        <%= review.hospital_name %>
                                    </h4>
                                    <p>
                                        <%= review.hospital_address %>
                                    </p>
                                </div>
                                <div class="profile">
                                    <div class="photo-container">
                                        <img src="https://www.studiopeople.kr/common/img/default_profile.png"
                                            alt="프로필 이미지" class="photo">
                                        <span>
                                            <%= review.patient_nickname %>
                                        </span>
                                    </div>
                                    <span>
                                        <%= review.created_at %>
                                    </span>
                                </div>
                                <div class="review">
                                    <p>
                                        <%= review.content %>
                                    </p>
                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <p>리뷰가 없습니다.</p>
                                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>

<head>
    <script src="/js/hospital.js"></script>
</head>