<head>
    <style>
    .pagination { display: flex; list-style: none; justify-content: center; }
    .pagination .page-link { color: black; text-decoration: none; }
    .pagination .page-item.active .page-link { background-color: #4B8673; border-color: #4B8673; }
    </style>
</head>


<nav aria-label="Diary pagination">
    <ul class="pagination">
        <% 
            const maxPagesToShow = 10; // 한 번에 보여줄 최대 페이지 수
            const startPage = Math.floor((currentPage - 1) / maxPagesToShow) * maxPagesToShow + 1;
            const endPage = Math.min(startPage + maxPagesToShow - 1, totalPages);
        %>
        <% if (startPage > 1) { %>
            <li class="page-item">
                <a class="page-link" data-page="<%= startPage - 1 %>">Previous</a>
            </li>
        <% } %>
        <% for(let i = startPage; i <= endPage; i++) { %>
            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                <a class="page-link" data-page="<%= i %>"><%= i %></a>
            </li>
        <% } %>
        <% if (endPage < totalPages) { %>
            <li class="page-item">
                <a class="page-link" data-page="<%= endPage + 1 %>">Next</a>
            </li>
        <% } %>
    </ul>
</nav>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const paginationLinks = document.querySelectorAll('.pagination .page-link');

    paginationLinks.forEach(link => {
        const page = link.getAttribute('data-page');
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('page', page);
        link.href = `${window.location.pathname}?${urlParams.toString()}`;
    });
});
</script>