<head>
    <style>
        body { margin: 0; background: #F4F5F8; }
        .container { display: flex; flex-direction: column; margin: auto; max-width: 1080px; padding: 30px; }
    
        .main-image {
            width: 100%;
            height: auto;
            margin-bottom: 20px; /* 이미지 아래 여백 추가 */
        }
    
        .line-chart-header { display: flex; justify-content: space-between; align-items: center; width: 100%; }
        .button-container { display: flex; justify-content: flex-end; width: auto; margin-bottom: 20px; }
        .button-link { background-color: #5FD068; padding: 7px 13px; border-radius: 10px;
            border: 1px solid #ccc; color: white; text-decoration: none; display: inline-block; text-align: center; }
        .button-link:hover { background-color: #4caf50; color: white; }
        
        .line-chart { background-color: #FFFFFF; border-radius: 20px; border: 1px solid #D6D7DA; 
            padding: 30px; display: flex; flex-direction: column; justify-content: center; margin-top: 20px; }
        .line-chart-header { width: 100%; text-align: left; }
        .line-chart-body { display: flex; justify-content: center; align-items: center; width: 100%; }
    
        .diaris-container { margin-top: 20px; }
    
        .link { text-decoration: none; color: black; }
        .link:hover { color: #4B8673; }
    </style>
    </head>
    
    <body>
    <div class="container">
        <img src="/images/CommaMain_01_long.svg" alt="Comma Main Image" class="main-image">
    
        <a href="/profile/patient/<%= patientUser.id %>/emotion-chart" class="link">
        <div class="line-chart">
            <div class="line-chart-header">
                <p style="margin-left: 20px">나의 최근 감정 변화를 살펴 보세요.</p>
                <div class="button-container">
                    <p class="button-link">전체 감정 차트 바로가기</p>
                </div>
            </div>
            <div class="line-chart-body">
                <%- include('./chart/line-chart') %>
            </div>
        </div>
        </a>
    
        <hr style="margin-top: 40px; margin-bottom: 40px">
    
        <p>나의 최근 일기</p>
        <%- include('./diary/diaries') %>
    
        <hr style="margin-bottom: 40px">
    
        <p>회원님의 추천 아티클</p> 
        <%- include('./article/recommend-list-component') %>
    
    </div>
    <%- include('partials/footer') %>
    </body>