<head>
    <style>
        * { box-sizing: border-box; }
        body { margin: 0; background: #F4F5F8; }
        .articles-container { display: flex; flex-direction: column; justify-content: space-between; align-items: center; margin: auto; 
            max-width: 1080px; margin-bottom: 16px; }
        .card { border-radius: 30px; overflow: hidden; min-width: 240px; }
    
        .card-img-container { height: 260px; overflow: hidden; }
        .card-link { text-decoration: none; color: black; }
        .card-link:hover { color: #4B8673; }
        .card-body { margin: 10px; height: 160px;}
        .text-muted { padding-right: 12px; }
    </style>
    </head>
    
    <div class="articles-container">
    
        <% if (!Previews || Previews.length === 0) { %>
            <p>No posts found.</p>
        <% } else { %>
            <div class="row">
                <% Previews.forEach(Preview => { %>
                    <div class="col-md-4 mb-3">
                    <a href="/article/<%= Preview.article_id %>" class="card-link">
                    <div class="card">
                        <div class="card-img-container">
                            <img src="<%= Preview.thumbnail_url %>" class="card-img-top" alt="Post Image">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bold" ><%= Preview.title %></h5>
                            <p style="font-size: 14px" class="card-text"><%= Preview.nickname %></p>
                            <p style="font-size: 14px" class="card-text"><%= new Date(Preview.created_at).toLocaleDateString('ko-KR') %></p>
                            <p style="font-size: 14px" class="card-text font-size: 0.9rem; color: #333;">조회 <%= Preview.views %>회</p>
                        </div>
                    </div>
                    </a>
                    </div>
                <% }) %>
            </div>
        <% } %>
    </div>
    <nav aria-label="Article pagination">
        <%- include('../components/pagination') %>
    </nav>