<style>
    .guestbook-item {
        margin-top: 10px;
        border-bottom: 1px solid #D6D7DA;
    }
    .guestbook-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .guestbook-title h3 {
        margin: 8px 0;
        font-size: 20px;
        font-weight: 700;
    }
    .guestbook-title span {
        font-size: 18px;
        color: #888;
    }
    .guestbook-item p {
        font-size: 18px;
    }
    .counselor-info {
        display: flex;
        align-items: center;
        margin: 20px 0;
    }
    .counselor-info img {
        border-radius: 50%;
        border: 1px solid #D6D7DA;
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    .counselor-info .counselor-name {
        font-size: 18px;
        font-weight: bold;
    }
    .pagination { 
        display: flex; 
        list-style: none; 
        justify-content: center; 
        margin-top: 60px;
    }
    .pagination .page-link { 
        color: black; 
        text-decoration: none; 
    }
    .pagination .page-item.active .page-link { 
        background-color: #4B8673; 
        border-color: #4B8673; 
    }
    .clickable {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
    }

</style>

<!-- 방명록 목록 -->
<div class="guestbooks">
    <% if (guestbooks && guestbooks.length > 0) { %>
        <% guestbooks.forEach(guestbook => { %>
        <div class="guestbook-item">
            <a href="/guestbook/<%= guestbook.guestbook_id %>" style="text-decoration: none; color: inherit;">
                <!-- 방명록 내용 -->
                <div class="guestbook-title">
                    <h3>
                        <%= guestbook.title %>
                    </h3>
                    <span><%= new Date(guestbook.created_at).toLocaleDateString() %></span>
                </div>
                <p><%= guestbook.content %></p>
                <!-- 방명록 작성자 -->
                <% if (showCounselorInfo) { %>
                <div class="counselor-info">
                    <a href="/profile/counselor/<%= guestbook.counselor_nickname %>" class="clickable" style="text-decoration: none; color: inherit;">
                        <img src="<%= guestbook.counselor_profile_picture %>" alt="Counselor Profile Picture">
                        <div class="counselor-name"><%= guestbook.counselor_name %> 상담사</div>
                    </a>
                </div>
                <% } %>
            </a>
        </div>
        <% }) %>
    <% } else { %>
        <p>방명록이 없습니다.</p>
    <% } %>
</div>

<!-- 페이지네이션 버튼 -->
<nav aria-label="Guestbook pagination">
    <ul class="pagination">
        <% 
            const maxPagesToShow = 10; // 한 번에 보여줄 최대 페이지 수
            const startPage = Math.floor((currentPage - 1) / maxPagesToShow) * maxPagesToShow + 1;
            const endPage = Math.min(startPage + maxPagesToShow - 1, totalPages);
        %>
        <% if (startPage > 1) { %>
            <li class="page-item">
                <a class="page-link" data-page="<%= startPage - 1 %>">Previous</a>
            </li>
        <% } %>
        <% for(let i = startPage; i <= endPage; i++) { %>
            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                <a class="page-link" data-page="<%= i %>"><%= i %></a>
            </li>
        <% } %>
        <% if (endPage < totalPages) { %>
            <li class="page-item">
                <a class="page-link" data-page="<%= endPage + 1 %>">Next</a>
            </li>
        <% } %>
    </ul>
</nav>

<script>
// 쿼리 스트링 처리
document.addEventListener('DOMContentLoaded', function() {
    const paginationLinks = document.querySelectorAll('.pagination .page-link');

    paginationLinks.forEach(link => {
        const page = link.getAttribute('data-page');
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('page', page);
        link.href = `${window.location.pathname}?${urlParams.toString()}`;
    });
});
</script>