<head>
<style>
    * { box-sizing: border-box; }
    body { margin: 0; background: #F4F5F8; }
    .diaries { display: flex; flex-direction: column; justify-content: space-between; align-items: center; margin: auto; 
        max-width: 1140px; padding: 30px; margin-bottom: 16px; }
    .card { border-radius: 30px; overflow: hidden; }

    .card-img-container { height: 280px; overflow: hidden; }
    .card-link { text-decoration: none; color: black; }
    .card-link:hover { color: #4B8673; }
    .card-body { margin: 10px; }
    .text-muted { padding-right: 12px; }

    .pagination { display: flex; list-style: none; justify-content: center; }
    .pagination .page-link {
        color: black;
        text-decoration: none;
    }
    .pagination .page-item.active .page-link,
    .pagination .page-link:hover { color: #E9F8EA; }
</style>
</head>

<div class="diaries">
    <% if (!Previews || Previews.length === 0) { %>
        <p>No posts found.</p>
    <% } else { %>
        <div class="row">
            <% Previews.forEach(Preview => { %>
                <div class="col-md-4 mb-3">
                <a href="/diary/<%= Preview.diary_id %>" class="card-link">
                <div class="card">
                    <div class="card-img-container">
                        <img src="<%= Preview.image_url %>" class="card-img-top" alt="Post Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= Preview.title %></h5>
                        <p style="font-size: 12px" class="card-text"><%= Preview.content.substring(0, 100) %>...</p>
                        <p style="font-size: 12px" class="card-text"><%= Preview.nickname %></p>
                        <p style="font-size: 12px" class="card-text"><%= new Date(Preview.created_at).toLocaleDateString('ko-KR') %></p>
                        <div class="emotion-ranking" data-emotions="<%= JSON.stringify(Preview.emotions) %>"></div>
                    </div>
                </div>
                </a>
                </div>
            <% }) %>
        </div>
    <% } %>
</div>
<nav aria-label="Diary pagination">
    <ul class="pagination">
        <% 
            const maxPagesToShow = 10; // 한 번에 보여줄 최대 페이지 수
            const startPage = Math.floor((currentPage - 1) / maxPagesToShow) * maxPagesToShow + 1;
            const endPage = Math.min(startPage + maxPagesToShow - 1, totalPages);
        %>
        <% if (startPage > 1) { %>
            <li class="page-item">
                <a class="page-link" href="/diary?page=<%= startPage - 1 %>">Previous</a>
            </li>
        <% } %>
        <% for(let i = startPage; i <= endPage; i++) { %>
            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                <a class="page-link" href="/diary?page=<%= i %>"><%= i %></a>
            </li>
        <% } %>
        <% if (endPage < totalPages) { %>
            <li class="page-item">
                <a class="page-link" href="/diary?page=<%= endPage + 1 %>">Next</a>
            </li>
        <% } %>
    </ul>
</nav>

<script>
// ai감정 상위3개 출력
document.addEventListener('DOMContentLoaded', function() {
    const emotionContainers = document.querySelectorAll('.emotion-ranking');
    
    emotionContainers.forEach(container => {
        const emotions = JSON.parse(container.getAttribute('data-emotions'));
        const sortedEmotions = Object.entries(emotions)
            .sort((a, b) => b[1] - a[1]) // 내림차순 정렬
            .slice(0, 3); // 상위 3개 추출

        container.innerHTML = ''; // 초기 내용 지우기
        sortedEmotions.forEach(([emotion, value]) => {
            const percentage = (value * 100).toFixed(2);
            container.innerHTML += `<small class="text-muted">${emotion}: ${percentage}%</small>`;
        });
    });
});
</script>