<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>일기 열람 페이지</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js">
<style>
    * { box-sizing: border-box; }
    body { margin: 0; background: #F4F5F8; }
    .container { display: flex; flex-direction: column; margin: auto; max-width: 1280px; padding: 30px; }
    .top-section { display: flex; justify-content: space-between; background: #FFFFFF; border-radius: 15px; margin-bottom: 40px; }
    .panel { padding: 20px; flex: 1; }

    .image-container { margin: 35px; position: relative; width: 100%; height: 600px; overflow: hidden; border-radius: 25px; }
    #diaryImage { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: auto; height: 100%; border-radius: 25px; }
    
    .profile-link { text-decoration: none; color: black; }
    .profile-link:hover { color: #4B8673; }
    .profile-container { display: flex; align-items: center; gap: 15px; }
    #profile-image { width: 50px; height: 50px; border-radius: 50%; background-size: cover;
                        overflow: hidden; border: 1px solid #D6D7DA; object-fit: cover; }
    .profile-container p { margin: 0; line-height: 1; font-size: 18px; }

    .title, .content, .created_at { margin-bottom: 10px; }
    .title h1, .content p, .created_at { margin: 0; padding: 10px; }
    .created_at { text-align: right; }
    .title h1 { font-size: 24px; font-weight: bold; }
    .content  { font-size: 16px; white-space: pre-wrap; max-height: 350px; overflow-y: auto; }
    .content-container { margin: 35px; margin-left: 0px; display: flex; flex-direction: column; position: relative; }
    label { font-size: 0.9rem; color: #333; }
    
    .emotion-chart { width: 100%; max-height: 550px; background: #FFFFFF; border-radius: 15px; padding: 15px; display: flex; flex-direction: column; align-items: center; justify-content: center; }
    .emotion-text { margin-bottom: 20px; font-size: 18px; font-weight: bold; }
    canvas { width: 80%; max-height: 380px; }
    .button { padding: 7px 15px; background-color: #4B8673; color: white; text-align: center; cursor: pointer; border-radius: 5px; position: absolute; bottom: 10px; right: 10px; }
    .privacy-label {display: inline-block; position: absolute; bottom: 10px; text-align: center; }
</style>
</head>
<body>
<div class="container">
    <div class="top-section">
        <div class="panel image-container">
            <img id="diaryImage" src="<%= diary.image_url %>" alt="Diary Image">
        </div>
        <div class="panel content-container">
            <a href="/profile/patient/<%= patient.id %>" class="profile-link">
            <div class="profile-container">
                <img id="profile-image" src="<%= patient.profile_picture %>">
                <p><%= patient.nickname %></p>
            </div>
            </a>
            <hr>
            <div class="title"><h1><%= diary.title %></h1></div>
            <div class="content"><p><%= diary.content %></p></div>
            <div class="created_at"><%= new Date(diary.created_at).toLocaleDateString('ko-KR') %></div>

            <% if (user.role === 'patient') { %>
            <label class="privacy-label">
                <input type="checkbox" id="publicCheckbox" onchange="togglePrivacy('<%= diary.diary_id %>')" 
                    <%= diary. is_visible ? 'checked' : '' %> >
                    상담사가 열람하도록 허용
            </label>
            <div class="button" onclick="confirmDelete('<%= diary.diary_id %>')">삭제</div>
            <% } %>
        </div>
    </div>
    <div class="panel emotion-chart">
        <div class="emotion-text">AI 감정 분석</div>
        <canvas id="emotionChart"></canvas>
        <p style="margin-top: 20px; font-size: 0.9rem; color: #333; ">감정분석에는 10~20초 정도 시간이 걸릴 수 있습니다</p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const emotions = { 
        joy: <%= diary.joy %>, 
        surprise: <%= diary.surprise %>, 
        anger: <%= diary.anger %>, 
        anxiety: <%= diary.anxiety %>, 
        hurt: <%= diary.hurt %>, 
        sadness: <%= diary.sadness %>
    };

    function togglePrivacy(diaryId) {
        const isPublic = document.getElementById('publicCheckbox').checked;
        fetch(`/diary/visibility/${diaryId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ isPublic: isPublic })
        })
        .then(response => response.json())
        .then(data => {
            if (isPublic) {
                alert('일기를 공개로 설정하였습니다.');
            } else {
                alert('일기를 비공개로 설정하였습니다.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            document.getElementById('publicCheckbox').checked = !isPublic;
        });
    }


    function confirmDelete(diaryId) {
        if (confirm("삭제하시겠습니까?")) { deleteDiary(diaryId); }
    }
    function deleteDiary(diaryId) {
        fetch(`/diary/${diaryId}`, {
            method: 'DELETE',
            headers: { 'Content-Type': 'application/json' }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success && data.redirect) {
                window.location.href = data.redirect;
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('삭제 중 오류 발생.');
        });
    }
    const ctx = document.getElementById('emotionChart').getContext('2d');
    const emotionChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['기쁨', '당황', '분노', '불안', '상처', '슬픔'],
            datasets: [{
                label: '감정 분석',
                data: Object.values(emotions),
                backgroundColor: [ '#FFAFCC', '#FFF84F','#FF4A4A', '#FF9B52','#62CC79','#8588D5'],
                borderColor: ['#FFAFCC', '#FFF84F','#FF4A4A', '#FF9B52','#62CC79','#8588D5'],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: { position: 'bottom' }
            }
        }
    });

    
    const diaryId = <%= diary.diary_id %>;
    function checkAnalysisStatus(diaryId) {
        fetch(`/diary/checkStatus/${diaryId}`)
            .then(response => response.json())
            .then(data => {
                if (data.analyzed) {
                    window.location.href = `/diary/${data.diaryId}`;
                } else {
                    setTimeout(() => checkAnalysisStatus(diaryId), 5000); // 5초 후에 다시 확인
                }
            })
            .catch(error => {
                console.error('Error checking analysis status:', error);
            });
    }
    // 감정 분석 상태가 완료되지 않았을 때만 확인
    if (
        parseFloat(emotions.joy) === 0.00 && 
        parseFloat(emotions.surprise) === 0.00 && 
        parseFloat(emotions.anger) === 0.00 && 
        parseFloat(emotions.anxiety) === 0.00 && 
        parseFloat(emotions.hurt) === 0.00 && 
        parseFloat(emotions.sadness) === 0.00
        ) {
        checkAnalysisStatus(diaryId);
    }

</script>
</body>
</html>
