<style>
    .diary-container {
        background: #fff;
        border-radius: 20px;
        border: 1px solid #D6D7DA;
        padding: 40px;
        margin-bottom: 20px;
    }
    .diary-container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;
        border-bottom: 1px solid #D6D7DA;
    }
    .diary-container h2 {
        font-weight: 700;
        font-size: 28px;
        color: black;
        margin: 0;
    }
    .diary-item {
        margin-top: 10px;
        border-bottom: 1px solid #D6D7DA;
    }
    .diary-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .diary-title h3 {
        margin: 8px 0;
        font-size: 20px;
        font-weight: 700;
    }
    .diary-title span {
        font-size: 18px;
        color: #888;
    }
    .diary-item p {
        font-size: 18px;
    }
    .write-diary-button {
        padding: 10px 20px;
        background-color: #5FD068;
        color: white;
        border: none;
        border-radius: 16px;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
    }
    .view-all-button {
        display: block;
        width: 100%;
        padding: 16px;
        background-color: #E9F8EA;
        color: #4B8673;
        border: none;
        border-radius: 16px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        margin-top: 40px;
    }
</style>

<div class="diary-container">
    <!-- 일기 헤더 -->
    <div class="diary-container-header">
        <h2>일기 목록</h2>
        <% if (loginRole === 'patient') { %>
            <button class="write-diary-button" id="writeDiaryButton">일기 작성</button>
        <% } %>
    </div>
    <!-- 일기 목록 -->
    <div class="diary-list">
    <% if (diaries && diaries.length > 0) { %>
        <% diaries.forEach(diary => { %>
        <div class="diary-item">
            <a href="/diary/<%= diary.diary_id %>" style="text-decoration: none; color: inherit;">
                <div class="diary-title">
                    <h3>
                        <%= diary.title %>
                    </h3>
                    <span><%= new Date(diary.created_at).toLocaleDateString() %></span>
                </div>
                <p><%= diary.content.length > 60 ? diary.content.substring(0, 60) + '...' : diary.content %></p>
            </a>
        </div>
        <% }) %>
    <% } else { %>
        <p>일기가 없습니다.</p>
    <% } %>
    </div>
    <button class="view-all-button" id="viewAllDiariesButton">전체보기</button>
</div>

<script>
    document.getElementById('writeDiaryButton')?.addEventListener('click', function() {
        window.location.href = `/diary/new`;
    });
    document.getElementById('viewAllDiariesButton').addEventListener('click', function() {
        const patientId = '<%= patientUser.id %>';
        window.location.href = `/profile/patient/${patientId}/diaries`;
    })
</script>