<!-- profile_card.ejs -->
<style>
    .profile-card {
        background: #fff;
        border-radius: 20px;
        border: 1px solid #D6D7DA;
        padding: 40px;
    }
    
    .profile-image {
        width: 240px;
        height: 240px;
        border-radius: 50%; /* 원형 이미지 */
        margin: 0 auto;
        background: url('https://i.imgur.com/3beQH5s.jpeg') no-repeat center center; /* TODO: 이미지 받아서 수정해주기 */
        background-size: cover; /* 이미지가 컨테이너를 꽉 채우도록 */
        border: 2px solid #D6D7DA;
    }

    .profile-details {
        margin-top: 24px;
    }

    .profile-details h2 {
        font-weight: 700;
        font-size: 28px;
        color: black;
        margin-bottom: 4px;
    }

    .badge {
        padding: 8px 10px;
        border-radius: 10px;
        font-size: 16px;
        margin-left: 8px;
    }

    .badge-patient {
        background-color: #FFE8E3; /* 환자 배경색 */
        color: #EA5533; /* 환자 텍스트 색 */
        border: 1px solid #EA5533; /* 환자 배지 테두리 색 */
    }

    .badge-counselor {
        background-color: #F5E8FF; /* 상담사 배경색 */
        color: #9933EA; /* 상담사 텍스트 색 */
        border: 1px solid #9933EA; /* 상담사 배지 테두리 색 */
    }

    .profile-details p {
        font-weight: 500;
        font-size: 16px;
        color: black;
        margin: 0;  /* 기본으로 설정되어 있는 마진을 0으로 */
    }
    .profile-bio {
        margin-top: 8px;
        font-size: 16px;
    }

    .interest-button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: white;
        color: black;
        border: 1px solid #D6D7DA;
        border-radius: 16px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        margin-top: 40px;
    }

</style>
<div class="profile-card">
    <div class="profile-image"></div>
    <div class="profile-details">
        <!-- 이름 -->
        <h2>
            <% if (type === 'patient') { %>
                <%- patientUser.name %>
            <% } else { %>
                <%- counselorUser.name %>
            <% } %>
            <!-- 배지 추가 -->
            <div class="badge 
                <% if (type === 'patient') { %>
                    badge-patient
                <% } else { %>
                    badge-counselor
                <% } %>">
                <% if (type === 'patient') { %>
                    환자
                <% } else { %>
                    상담사
                <% } %>
            </div>
        <!-- 닉네임 -->
        <p>
            <% if (type === 'patient') { %>
                <%- patientUser.nickname %>
            <% } else { %>
                <%- counselorUser.nickname %>
            <% } %>
        </p>
        
    </div>
    <div class="profile-bio"">
        <!-- 바이오 -->
        <p>
            <% if (type === 'patient') { %>
                <%- patientUser.bio %>
            <% } else { %>
                <%- counselorUser.bio %>
            <% } %>
        </p>
    </div>
    <!-- 관심 등록 버튼 -->
    <button class="interest-button">
        <% if (type === 'patient') { %>
            관심 환자로 등록하기
        <% } else { %>
            관심 상담사로 등록하기
        <% } %>
    </button>
    <!-- TODO: 세션에 저장된 사용자 타입에 따라 다르게 뜨드록 처리해야 함 -->
</div>